# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scietists include:

    1. Pandas
    2. NumPy
    3. Matplot Lib
    4. Pytorch
    5. Scikit-learn

#### Data Science Tools
| Data Tools | Type of Tool | Environment |
|----------- |---------- | ------------- 
| MySQL | Data Management Tools | Open Source |
| Postgre SQL | Data Management Tools | Open Source |
| Mongo DB | Data Management Tools | Open Source |
| Hadoop | Data Management Tools | Open Source |
| Jupyter | Operating System Tools | Open Source |
| R Studio | Operating System Tools | Open Source |
| Anaconda Navigator | Operating System Tools | Open Source |
| Apache Spark SQL | Data Integration and Transformation Tools | Open Source |
| Tableau | Data Visualization  Tools | Open Source |
| Power BI | Data Visualization  Tools | Open Source |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [27]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60 
hours

3.3333333333333335

__Objective: List popular languages for Data Science__
- Python
- Julia
- R
- Scala

## Author
Deep Shikha